
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Services{% endblock title %}

{% block css%}
{% endblock %}

{% block content %}
<div class="container-fluid mb-1">
    <!-- Botón de volver atrás y título -->
    <div class="row">
        <div class="col-12 align-items-center">
            <a class="btn btn-secondary my-4" href="{% url 'services:index' %}">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>


    <!-- Fin del título -->

    <!-- Formulario -->
    <div class="row justify-content-center m-sm-1">
        <h1 class="fs-3 fw-bold text-center">Create Service</h1>
        <div class="col-lg-8 col-md-10 col-sm-12  bg-white border rounded p-4 shadow">
            <form method="post" action="{% url 'services:create' %}" class="text-black">
                {% csrf_token %}
                <div class="row g-3">
                    <!-- Recorremos los campos del formulario -->
                    {% for field in form %}
                        {% if field.field.widget.input_type == "text" or field.field.widget.input_type == "number" %}
                            <div class="col-12 col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                        {% else %}
                            <div class="col-12">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
    
                <!-- Botones de acción -->
                <div class="d-flex justify-content-end mt-4">
                    <a href="{% url 'services:index' %}" class="btn btn-secondary me-2" type="button">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Cancelar</span>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <span class="icon text-white-50">
                            <i class="fas fa-save"></i>
                        </span>
                        <span class="text">Guardar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin del formulario -->
</div>


<a class="border rounded d-inline scroll-to-top" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}