{% extends 'base.html' %}
{% load static %}

{% block title %}Services{% endblock title %}

{% block css%}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-4">
            {% comment %} <a class="anone" href="#">
                <i class="fa fa-long-arrow-left"></i>
                    <span>&nbsp; Volver</span>
            </a> {% endcomment %}
        </div>
        <div class="col-12 col-sm-6 col-md-6 d-flex justify-content-start align-items-center">
            <h1 class="fs-3 mb-4 fw-bold ">Titulo</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-6 d-flex justify-content-end align-items-center">
            {% comment %} <a class="btn btn-primary" role="button" href="#"
                data-bs-toggle="tooltip" data-bs-placement="top"
                hx-get="{% url 'services:create' %}"
                hx-target="#dialogCreate"
                hx-trigger="click"
                hx-swap="innerHTML"
            >
                <i class="fa fa-plus"></i> &nbsp;Agregar
            </a> {% endcomment %}
            <a class="btn btn-primary" role="button" href="{% url 'services:create' %}">
                <i class="fa fa-plus"></i> &nbsp;Agregar
            </a>
        </div>
    </div>

    {% include 'includes/filter.html' %}

    <div class="border rounded bg-white">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table rounded">
                        <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr class="text-center">
                                    <td>{{ service.name }}</td>
                                    <td>{{ service.price }}</td>
            
                                    <td class="text-center">
                                        {% comment %} <a href="{% url 'services:detail' pk=service.id %}" class="btn btn-info btn-sm">Detail</a> {% endcomment %}
                                        <a href="{% url 'services:update' pk=service.id %}" class="btn btn-primary btn-sm">Edit</a>
                                        <a class="btn btn-danger btn-sm"
                                            role="button"
                                            data-bs-toggle="modal"
                                            onclick="destroy({{ service.id }})"
                                            data-bs-target="#delete-modal"
                                            href="#"
                                        >Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'pagination.html' %}
        </div>
    </div>

</div>
{% comment %} <div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div id="dialogCreate" class="modal-dialog modal-dialog-scrollable modal-lg rounded" hx-target="this">
    </div>
</div>  {% endcomment %}

<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div id="dialogCreate" class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" hx-target="this">
        <!-- Aquí se cargará dinámicamente el contenido del modal con HTMX -->
    </div>
</div>

<form id="deleteForm" method="post">
    {% csrf_token %}
    <div class="modal fade" role="dialog" tabindex="-1" id="delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5 color_guinda fw-bold">Delete element</h2>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6 text-dark">If you delete this item, it will not be possible to recover it.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="button" onclick="formSubmit()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

<a class="border rounded d-inline scroll-to-top" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}

{% block js %}

<script>
    function destroy(id) {
        let queryParams = new URLSearchParams(window.location.search);
        let url = "{% url 'services:delete' 1 %}";
        url = url.replace('1', id);
        url = url + '?' + queryParams.toString();
        $("#deleteForm").attr('action', url);
    }

    function formSubmit() {
        $("#deleteForm").submit();
    }
</script>
<script>
;    (function () {
        const modalEliminar = new bootstrap.Modal(document.getElementById('CreateModal'));
    
        htmx.on("htmx:afterSwap", (e) => {
            if (e.detail.target.id == "dialogCreate") {
                modalEliminar.show()
            }
        })
    
        htmx.on("htmx:beforeSwap", (e) => {
            // console.log(e.detail.target.id == "dialogEliminar" && !e.detail.xhr.response)
            if (e.detail.target.id == "dialogCreate" && e.detail.xhr.response == 200) {
                console.log("entro")
                modalEliminar.hide()
                e.detail.shouldSwap = false
                console.log(e.detail.xhr.status)
                if (e.detail.xhr.status == 200){
                    window.location.reload();
                }
            }
        })
    
        htmx.on("hidden.bs.modal", () => {
            document.getElementById("dialogCreate").innerHTML = ""
        })
    })(); 
</script>
{% endblock %}