{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		{% block title %}{% endblock title %}
	</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="favicon.ico">

	<!-- FontAwesome JS-->
	{% comment %} <script defer src="assets/plugins/fontawesome/js/all.min.js"></script> {% endcomment %}
    <script  src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>
	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/portal.css' %}">
	{% block css %}{% endblock css %}
</head>

<body class="app">
	<header class="app-header fixed-top">
		<!-- Navbar -->
		{% include 'includes/navbar.html' %}
		
		<!-- Sidebar -->
		{% include 'includes/sidebar.html' %}

	</header><!--//app-header-->

	{% block content %}{% endblock content %}


	<!-- Javascript -->
	<script src="{% static 'assets/plugins/popper.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Charts JS -->
	<script src="{% static 'assets/plugins/chart.js/chart.min.js' %}"></script>
	<script src="{% static 'assets/js/index-charts.js' %}"></script>

	<!-- Page Specific JS -->
	<script src="{% static 'assets/js/app.js' %}"></script>

</body>

</html>