<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for message in messages %}
<script>
    let title = "";
    if ("{{ message.tags }}" === 'error') {
        title = "¡Error!";
    }
    if ('{{ message.tags }}' === 'success') {
        title = "Success!";
    }
    if ("{{ message.tags }}" === 'warning') {
        title = "Warning!";
    }
    if ("{{ message.tags }}" === 'info') {
        title = "Info";
    }

    Swal.fire({
        title: title,
        // text: '{{ message }}',
        html: '{{ message|safe }}',
        type: '{{ message.tags }}',
        icon: '{{ message.tags }}',
        confirmButtonText: 'Continue',
        confirmButtonColor: 'btn-primary',
    });
</script>
{% endfor %}
{% endif %}